@charset "UTF-8";
body {
    background-color: #A9A9A9;
    background-image: url(../images/ricardo-gomez-angel-5YM26lUicfU-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: actor;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    margin: 0;
}
h1 {
    font-family: actor;
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 1em;
    height: 4em;
    color: #FFFFFF;
    text-shadow: 4px 5px 17px #000000;
    text-align: center;
    text-decoration: underline;
    border-top-color: #000000;
    text-transform: capitalize;
}
h2 {
    font-family: actor;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    background-color: #D6D6D6;
    -webkit-box-shadow: 0px 0px #FFFFFF;
    box-shadow: 0px 0px #FFFFFF;
}
footer {
	font-size: small;
	text-align: center;
	clear: both;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 80px;
	width: 100%;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	padding-top: 58px;
}

 


.asideLeft {
	width: 28%;
	float: left;
	margin-right: 1%;
	margin-left: 5%;
	margin-top: 30px;
}
.sectionRight {
    width: 55%;
    float: right;
    margin-right: 5%;
    margin-top: 30px;
    margin-left: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-image: -webkit-linear-gradient(270deg,rgba(253,252,252,1.00) 16.39%,rgba(255,255,255,0.25) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(253,252,252,1.00) 16.39%,rgba(255,255,255,0.25) 100%);
    background-image: -o-linear-gradient(270deg,rgba(253,252,252,1.00) 16.39%,rgba(255,255,255,0.25) 100%);
    background-image: linear-gradient(180deg,rgba(253,252,252,1.00) 16.39%,rgba(255,255,255,0.25) 100%);
    border-top-right-radius: 25px;
    margin-bottom: 100px;
    font-variant: normal;
}
header {
	text-align: center;
	margin-top: 70px;
}
nav {
	background-color: black;
}
.navlist {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
.navlistitem {
    background-color: #000000;	/*float: left;*/
    color: #FFFFFF;
}
.navlistitem a {
    text-decoration: none;
    display: block;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    color: #FFFAFA;
}
.navlistitem a:hover {
	color: black;
	background-color: #358B6C;
	background-color: #BABABA;
}
.container-fluid .navbar-header .navbar-brand {
    font-style: normal;
    font-weight: 400;
    color: #C3C3C3;
    font-family: actor;
}
.formStyle {
	width: 100%;
}

@media (max-width: 650px){
.asideLeft {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 30px;
}
.sectionRight {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 5%;
	margin-bottom: 100px;
}
body {
	background-color: #BBB9B9;
	background-image: url();
	background-size: cover;
	background-attachment: fixed;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	height: 100%;
	margin: 0;
}
h1 {
	font-family: alfa-slab-one;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	line-height: 1em;
	height: 1em;
	margin-bottom: 42px;
}
header {
	margin-top: 30px;
}
p {
	font-size: large;
}
}
